*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    color: beige;
    height: 60px;
    font-size: 40px;
    display: flex;
    margin: 20px;
    padding: 30px;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
}

nav ul{
    list-style-type: none ;
}
.gamecontainer{
  background-color: lightblue;
 display: flex;
 margin: 20px;
 flex-wrap: nowrap;
 align-content: center;
 justify-content: center;
 align-items: center;
}

.container{
       display: grid;
       grid-template-columns:repeat(3,10vw);
       grid-template-rows:repeat(3,10vw);
}

.container div{
   border: 2px solid red;
    font-size: 8vw;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.box:hover{
    background-color: lightgray;
    cursor: pointer;
}
.gameinfo{
    padding: 0 34px;
    font-family: cursive;
}
.imgbox img{
    display:  none;
}
.br-0{
    border-right: 0;
    border-right: none;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}